{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="table-container">
    <div class="table-content">
        <h2>DVR Assets</h2>
        <table>
            <thead>
              <tr>
                <th>CODE</th>
                <th>Name</th>
                <th>Firmware</th>
                <th>IP Address</th>
                <th>Belongs To</th>
                <th>Storage Capacity</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for dvr in dvrs %}
                <tr>
                    <td><a href="{% url 'dvr' dvr.id%}">{{dvr.id}}</a></td>
                    <td><a href="{% url 'dvr' dvr.id%}">{{dvr.asset.name}}</a></td>
                    <td>{{dvr.firmware}}</td>
                    <td>{{dvr.ip_address}}</td>
                    <td>{{dvr.asset.parent}}</td>
                    <td>{{dvr.storage_capacity}}</td>
                    <td>
                        <a href="{% url 'update' 'dvr' dvr.id %}">Edit</a>
                        <a href="">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}