{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="table-container">
    <div class="table-content">
        <h2>LCD Assets</h2>
        <table>
            <thead>
              <tr>
                <th>CODE</th>
                <th>Name</th>
                <th>Resolution</th>
                <th>Refresh Rate</th>
                <th>Belongs To</th>
                <th>Created</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for lcd in lcds %}
                <tr>
                    <td><a href="">{{lcd.id}}</a></td>
                    <td><a href="">{{lcd.asset.name}}</a></td>
                    <td>{{lcd.resolution}}</td>
                    <td>{{lcd.refresh_rate}}</td>
                    <td>{{lcd.asset.parent}}</td>
                    <td>{{lcd.asset.created|date}}</td>
                    <td>
                        <a href="{% url 'update' 'lcd' lcd.id%}">Edit</a>
                        <a href="">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}