{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="table-container">
    <div class="table-content">
        <h2>Locations</h2>
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td><a href="">{{location.id}}</a></td>
                    <td><a href="">{{location.name}}</a></td>
                    <td>{{location.country}}</td>   
                    <td>{{location.city}}</td>   
                    <td>{{location.address}}</td>   
                    <td>{{location.zipcode}}</td>   
                    <td>
                        <a href="{% url 'update-location' location.id%}">Edit</a>
                        <a href="">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}