{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="table-container">
    <div class="table-content">
        <h2>Overview Assets</h2>
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Customer</th>
                <th>Location</th>
                <th>Belongs To</th>
                <th>Created</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for asset in assets %}
                <tr>
                    <td><a href="">{{asset.id}}</a></td>
                    <td><a href="">{{asset.name}}</a></td>
                    <td>{{asset.type}}</td>
                    <td>{{asset.customer}}</td>
                    <td>{{asset.location}}</td>
                    <td>{{asset.parent}}</td>
                    <td>{{asset.created|date}}</td>
                    <td>
                        <a href="">Edit</a>
                        <a href="{% url 'assets:delete' 'asset' asset.id %}">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}