{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="table-container">
    <div class="table-content">
        <h2>Camera Assets</h2>
        <table>
            <thead>
              <tr>
                <th>CODE</th>
                <th>Name</th>
                <th>Model</th>
                <th>IP Address</th>
                <th>Belongs To</th>
                <th>Motion Detection</th>
                <th>Created</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for camera in cameras %}
                <tr>
                    <td><a href="{% url 'details:camera' camera.id %}">{{camera.id}}</a></td>
                    <td><a href="{% url 'details:camera' camera.id %}">{{camera.asset.name}}</a></td>
                    <td>{{camera.model}}</td>
                    <td>{{camera.ip_address}}</td>
                    <td>{{camera.asset.parent}}</td>
                    <td>{{camera.motion_detection}}</td>
                    <td>{{camera.asset.created|date}}</td>
                    <td>
                        <a href="{% url 'assets:update' 'camera' camera.id%}">Edit</a>
                        <a href="{% url 'assets:delete' 'asset' camera.asset.id%}">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}