{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="table-container">
    <div class="table-content">
        <h2>Customers</h2>
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Country</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td><a href="{% url 'details:customer' customer.id%}">{{customer.id}}</a></td>
                    <td><a href="{% url 'details:customer' customer.id%}">{{customer.name}}</a></td>            
                    <td>{{customer.email}}</td>   
                    <td>{{customer.phone}}</td>   
                    <td>{{customer.address}}</td>   
                    <td>{{customer.country}}</td>  
                    <td>
                        <a href="{% url 'assets:update-customer' customer.id%}">Edit</a>
                        <a href="{% url 'assets:delete' 'customer' customer.id %}">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}