{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="table-container">
    <div class="table-content">
        <h2>DistriSPOT Assets <a class="text-info py-2" href="{% url 'assets:sync-distrispots'%}">{% bs_icon 'arrow-repeat' size='1em' %}</a></h2>
        <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Type</th>
                <th>Total Slots</th>
                <th>Customer</th>
                <th>Created</th>
                <th></th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for distrispot in distrispots %}
                <tr>
                    <th><a class="font-weight-bold" href="{% url 'details:distrispot' distrispot.id%}">{{distrispot.sid}}</a></th>
                    {% if distrispot.asset %}
                    <td>{{distrispot.asset.name}}</td>
                    {% endif %}
                    <td>
                      {% if distrispot.status == "ONLINE" %}
                        <div class="online rounded text-center">
                          <span class="small">Online</span>
                        </div>
                        {% else %}
                        <div class="offline rounded text-center">
                          <span class="small">Offline</span>
                        </div>
                      {% endif %}
                    </td>
                    <td>{{distrispot.type}}</td>
                    <td>{{distrispot.slots_num}}</td>
                    {% if distrispot.asset %}
                    <td>{{distrispot.asset.customer.name}}</td>
                    {% endif %}
                    <td>{{distrispot.asset.created|date}}</td>
                    <td>
                        <a class="text-secondary" href="{% url 'assets:update' type='distrispot' pk=distrispot.id%}">{% bs_icon 'pencil-square' size='1.5em' %}</a>                        
                    </td>
                    <td><a class="text-danger" href="{% url 'assets:delete' type='asset' pk=distrispot.asset.id %}?next={{ request.path|urlencode }}">{% bs_icon 'trash3' size='1.5em' %}</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}