{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="table-container">
    <div class="table-content">
        <h2>DVR Assets</h2>
        <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Firmware</th>
                <th>IP Address</th>
                <th>Belongs To</th>
                <th>Storage Capacity</th>
                <th></th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for dvr in dvrs %}
                <tr>
                    <th><a href="{% url 'details:dvr' dvr.id%}">{{dvr.sid}}</a></th>
                    <td>{{dvr.asset.name}}</td>
                    <td>{{dvr.firmware}}</td>
                    <td>{{dvr.ip_address}}</td>
                    <td>{{dvr.asset.parent}}</td>
                    <td>{{dvr.storage_capacity}}</td>
                    <td>
                        <a class="text-secondary" href="{% url 'assets:update' 'dvr' dvr.id %}">{% bs_icon 'pencil-square' size='1.5em' %}</a>
                    </td>
                    <td>
                      <a class="text-danger" href="{% url 'assets:delete' 'asset' dvr.asset.id %}?next={{ request.path|urlencode }}">{% bs_icon 'trash3' size='1.5em' %}</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}