{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="table-container">
    <div class="table-content">
        <h2>IPC Assets</h2>
        <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Processor</th>
                <th>Android Version</th>
                <th>Belongs To</th>
                <th>Created</th>
                <th></th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for ipc in ipcs %}
                <tr>
                    <th><a href="{% url 'details:ipc' ipc.id%}">{{ipc.sid}}</a></th>
                    <td>{{ipc.asset.name}}</td>
                    <td>{{ipc.cpu}}</td>
                    <td>{{ipc.android_version}}</td>
                    <td>{{ipc.asset.parent}}</td>
                    <td>{{ipc.asset.created|date}}</td>
                    <td>
                        <a class="text-secondary" href="{% url 'assets:update' 'ipc' ipc.id%}">{% bs_icon 'pencil-square' size='1.5em' %}</a>
                        
                    </td>
                    <td><a class="text-danger" href="{% url 'assets:delete' 'asset' ipc.asset.id %}?next={{ request.path|urlencode }}">{% bs_icon 'trash3' size='1.5em' %}</a></td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}