{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="table-container">
    <div class="table-content">
        <h2>Locations</h2>
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for location in locations %}
                <tr>
                    <td><a href="{% url 'details:location' location.id%}">{{location.id}}</a></td>
                    <td><a href="{% url 'details:location' location.id%}">{{location.name}}</a></td>
                    <td>{{location.country}}</td>   
                    <td>{{location.city}}</td>   
                    <td>{{location.address}}</td>   
                    <td>{{location.zipcode}}</td>   
                    <td class="d-flex justify-content-around p-0">
                        <a class="text-secondary" href="{% url 'assets:update-location' location.id%}">Edit</a>
                        <a class="text-danger" href="{% url 'assets:delete' 'location' location.id %}">{% bs_icon 'trash3' size='1.5em' %}</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}