{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="table-container">
    <div class="table-content">
        <h2>Power Supply Assets</h2>
        <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Form Factor</th>
                <th>Voltage</th>
                <th>Wattage</th>
                <th>Belongs To</th>
                <th>Created</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for psu in psus %}
                <tr>
                    <th><a href="{% url 'details:psu' psu.id %}">{{psu.sid}}</a></th>
                    <td>{{psu.asset.name}}</td>
                    <td>{{psu.form_factor}}</td>
                    <td>{{psu.voltage}}</td>
                    <td>{{psu.wattage}}</td>
                    <td>{{psu.asset.parent}}</td>
                    <td>{{psu.asset.created|date}}</td>
                    <td>
                        <a class="text-secondary" href="{% url 'assets:update' 'psu' psu.id%}">{% bs_icon 'pencil-square' size='1.7em' %}</a>
                       
                    </td>
                    <td> 
                      <a class="text-danger" href="{% url 'assets:delete' 'asset' psu.asset.id %}?next={{ request.path|urlencode }}">{% bs_icon 'trash3' size='1.7em' %}</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}