{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="table-container">
    <div class="table-content">
        <h2>Power Supply Assets</h2>
        <table>
            <thead>
              <tr>
                <th>CODE</th>
                <th>Name</th>
                <th>Form Factor</th>
                <th>Voltage</th>
                <th>Wattage</th>
                <th>Belongs To</th>
                <th>Created</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for psu in psus %}
                <tr>
                    <td><a href="{% url 'details:psu' psu.id %}">{{psu.id}}</a></td>
                    <td><a href="{% url 'details:psu' psu.id %}">{{psu.asset.name}}</a></td>
                    <td>{{psu.form_factor}}</td>
                    <td>{{psu.voltage}}</td>
                    <td>{{psu.wattage}}</td>
                    <td>{{psu.asset.parent}}</td>
                    <td>{{psu.asset.created|date}}</td>
                    <td>
                        <a href="{% url 'assets:update' 'psu' psu.id%}">Edit</a>
                        <a href="{% url 'assets:delete' 'asset' psu.asset.id %}">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}