{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="table-container">
    <div class="table-content">
        <h2>RFID Assets</h2>
        <table  class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Frequency</th>
                <th>Voltage</th>
                <th>Belongs To</th>
                <th>Created</th>
                <th></th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for rfid in rfids %}
                <tr>
                    <th><a href="{% url 'details:rfid' rfid.id%}">{{rfid.sid}}</a></th>
                    <td>{{rfid.asset.name}}</td>
                    <td>{{rfid.frequency}}</td>
                    <td>{{rfid.voltage}}</td>
                    <td>{{rfid.asset.parent}}</td>
                    <td>{{rfid.asset.created|date}}</td>
                    <td>
                        <a class="text-secondary" href="{% url 'assets:update' 'rfid' rfid.id %}">{% bs_icon 'pencil-square' size='1.5em' %}</a>
                        
                    </td>
                    <td><a class="text-danger" href="{% url 'assets:delete' 'asset' rfid.asset.id %}?next={{ request.path|urlencode }}">{% bs_icon 'trash3' size='1.5em' %}</a></td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}