{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="table-container">
    <div class="table-content">
        <h2>Switch Assets</h2>
        <table>
            <thead>
              <tr>
                <th>CODE</th>
                <th>Name</th>
                <th>Number of Ports</th>
                <th>Mac Address</th>
                <th>Belongs To</th>
                <th>Created</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for switch in switchs %}
                <tr>
                    <td><a href="{% url 'details:switch' switch.id %}">{{switch.id}}</a></td>
                    <td><a href="{% url 'details:switch' switch.id %}">{{switch.asset.name}}</a></td>
                    <td>{{switch.num_ports}}</td>
                    <td>{{switch.mac_address}}</td>
                    <td>{{switch.asset.parent}}</td>
                    <td>{{switch.asset.created|date}}</td>
                    <td class="d-flex justify-content-around p-0">
                        <a class="text-secondary" href="{% url 'assets:update' 'switch' switch.id %}">{% bs_icon 'pencil-square' size='1.5em' %}</a>
                        <a class="text-danger" href="{% url 'assets:delete' 'asset' switch.asset.id %}">{% bs_icon 'trash3' size='1.5em' %}</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}