{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="details-container">
    <div class="details-content">
        <a class="d-flex align-items-center gap-2 w-25" href="{{request.META.HTTP_REFERER}}">{% bs_icon 'arrow-left' size='1.2em' %} <span>Go back</span> </a>
         <div class="d-flex align-items-center justify-content-between"><h1>Asset</h1>
           <div class="d-flex gap-3">
            <a class="text-secondary" href="{% url 'assets:update' 'camera' camera.id%}">{% bs_icon 'pencil-square' size='1.7em' %}</a>
            <a class="text-danger" href="{% url 'assets:delete' 'asset' camera.asset.id%}?next={{ request.path|urlencode }}">{% bs_icon 'trash3' size='1.7em' %}</a>                
           </div>
        </div>
        <div class="details-asset"> 
            
                <div class="details-item">
                    <p>Asset ID</p>
                    <span>{{camera.asset.sid}}</span>
                </div>
                <div class="details-item">
                    <p>Asset Name</p>
                   <span>{{camera.asset.name}}</span> 
                </div>
                <div class="details-item">
                    <p>Customer</p>
                    <span>{{camera.asset.customer}}</span>
                </div>     
                <div class="details-item">
                    <p>Belongs to</p>
                    <span>{{camera.asset.parent}}</span>
                </div>   
                <div class="details-item">
                    <p>Last Updated</p>
                    <span>{{camera.asset.updated}}</span>
                </div> 
                <div class="details-item">
                    <p>Created On</p>
                    <span>{{camera.asset.created}}</span>
                </div>        
        </div>
        <h2>Details</h2>
        <div class="component-details">
            <div class="details-item">
                <p>Camera ID</p>
                <span>{{camera.sid}}</span>
            </div>
            <div class="details-item">
                <p>Manufacturer</p>
                <span>{{camera.manufacturer}}</span>
            </div>
            <div class="details-item">
                <p>Model</p>
                <span>{{camera.model}}</span>
            </div>
            <div class="details-item">
                <p>Serial</p>
                <span>{{camera.serial}}</span>
            </div>
            <div class="details-item">
                <p>IP Address</p>
                <span>{{camera.ip_address}}</span>
            </div>
            <div class="details-item">
                <p>Firmware</p>
                <span>{{camera.firmware}}</span>
            </div>
            <div class="details-item">
                <p>Frame Rate</p>
                <span>{{camera.frame_rate}}</span>
            </div>
            <div class="details-item">
                <p>Resolution</p>
                <span>{{camera.resolution}}</span>
            </div>
            <div class="details-item">
                <p>Compression Format</p>
                <span>{{camera.compression_format}}</span>
            </div>
            <div class="details-item">
                <p>Camera Has Motion Detection</p>
                <span>{{camera.motion_detection}}</span>
            </div>
            <div class="details-item">
                <p>Username</p>
                <span>{{camera.username}}</span>
            </div>
            <div class="details-item">
                <p>Password</p>
                <span>{{camera.password}}</span>
            </div>
        </div>
        {% if documents %}
        <h2 class="mt-3">Documents</h2>
       <ul class="list-group rounded w-50">
            {% for document in documents %}
                <li class="list-group-item d-flex justify-content-between"><a href="{% url 'assets:open-document' pk=document.id %}"> {% if document.extension == 'docx' %}<span class="word">{% bs_icon 'filetype-docx' size='1.5em' %}</span>
                    {% elif document.extension == 'pdf' %}<span class="pdf">{% bs_icon 'filetype-pdf' size='1.5em' %}</span>
                    {% elif document.extension == 'xlsx' %}<span class="excel">{% bs_icon 'file-earmark-spreadsheet' size='1.5em' %}</span>
                    {% endif %}{{document.filename}}</a><a href="{% url 'overview:download' id=document.id%}">{% bs_icon 'download' size='1.5em' %}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>

{% endblock %}