{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="details-container">
    <div class="details-content">
        <h1>Customer</h1>
        <div class="details-asset">   
                <div class="details-item">
                    <p>Customer ID</p>
                    <span>{{customer.id}}</span>
                </div>
                <div class="details-item">
                    <p>Name</p>
                   <span>{{customer.name}}</span> 
                </div>
                <div class="details-item">
                    <p>Address</p>
                    <span>{{customer.address}}</span>
                </div>
                <div class="details-item">
                    <p>City</p>
                    <span>{{customer.city}}</span>
                </div>      
                <div class="details-item">
                    <p>Country</p>
                    <span>{{customer.country}}</span>
                </div>
                <div class="details-item">
                    <p>Zipcode</p>
                    <span>{{customer.zipcode}}</span>
                </div>
        </div>
    
    </div>
</div>

{% endblock %}