{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="details-container">
    <div class="details-content">
        <a class="d-flex align-items-center gap-2 w-25" href="{{request.META.HTTP_REFERER}}">{% bs_icon 'arrow-left' size='1.2em' %} <span>Go back</span> </a>
         <div class="d-flex align-items-center justify-content-between"><h1>Customer</h1>
           <div class="d-flex gap-3">
                    <a class="text-secondary" href="{% url 'assets:update-customer' customer.id%}">{% bs_icon 'pencil-square' size='1.7em' %}</a>
                    <a class="text-danger" href="{% url 'assets:delete' 'customer' customer.id %}?next={{ request.path|urlencode }}">{% bs_icon 'trash3' size='1.7em' %}</a>     
           </div>
        </div>
        <div class="details-asset">   
                <div class="details-item">
                    <p>Customer ID</p>
                    <span>{{customer.sid}}</span>
                </div>
                <div class="details-item">
                    <p>Name</p>
                   <span>{{customer.name}}</span> 
                </div>
                <div class="details-item">
                    <p>Address</p>
                    <span>{{customer.address}}</span>
                </div>
                <div class="details-item">
                    <p>City</p>
                    <span>{{customer.city}}</span>
                </div>      
                <div class="details-item">
                    <p>Country</p>
                    <span>{{customer.country}}</span>
                </div>
                <div class="details-item">
                    <p>Zipcode</p>
                    <span>{{customer.zipcode}}</span>
                </div>
        </div>
    
    </div>
</div>

{% endblock %}