{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="details-container">
    <div class="details-content position-relative">
        <a class="d-flex align-items-center gap-2 w-25 m-2" href="{% url 'overview:distrispots'%}">{% bs_icon 'arrow-left' size='1.2em' %} <span>Go back</span> </a>
    <div class="distrispot-grid ">
        <div>
            <span class="h3">Asset</span>
            <div class="details-asset"> 
                    
                    <div class="details-item">
                        <p>Asset ID</p>
                        <span>{{distrispot.asset.sid}}</span>
                    </div>
                    <div class="details-item">
                        <p>Asset Name</p>
                    <span>{{distrispot.asset.name}}</span> 
                    </div>
                    <div class="details-item">
                        <p>Customer</p>
                        <span>{{distrispot.asset.customer}}</span>
                    </div>
                    <div class="details-item">
                        <p>City</p>
                        <span>{{distrispot.city}}</span>
                    </div>      
                    <div class="details-item">
                        <p>Address</p>
                        <span>{{distrispot.address}}</span>
                    </div>   
                    <div class="details-item">
                        <p>Zipcode</p>
                        <span>{{distrispot.zip_code}}</span>
                    </div>   
                    <div class="details-item">
                        <p>Country</p>
                        <span>{{distrispot.country}}</span>
                    </div>   
                    <div class="details-item">
                        <p>Last Updated</p>
                        <span>{{distrispot.asset.updated}}</span>
                    </div> 
                    <div class="details-item">
                        <p>Created On</p>
                        <span>{{distrispot.asset.created}}</span>
                    </div>        
            </div>
            <span class="h3">Details</span>
            <div class="component-details">
                <div class="details-item">
                    <p>DistriSPOT ID</p>
                    <span>{{distrispot.sid}}</span>
                </div>
                <div class="details-item">
                    <p>Number of slots</p>
                    <span>{{distrispot.slots_num}}</span>
                </div>
                <div class="details-item">
                    <p>Type</p>
                    <span>{{distrispot.type}}</span>
                </div>
                <div class="details-item">
                    <p>Maintenances</p>
                    {% if distrispot.maintenances.all %}
                    <a href="{% url 'overview:spot-maintenance' pk=distrispot.id %}"> <span>All Maintenances </span> {% bs_icon 'chevron-right' size='1em' %}</a>
                    {% else %}
                    <span>None</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            <span class="h3 mb-1">Components</span>
            <ul class="list-group rounded w-75">
                {% if children_list %}
                {% for child in children_list %}
                    <li class="list-group-item"><a href="{% url child.route child.id%}">{{child.name}}</a></li>
                {% endfor %}
                {% else %}
                <li class="list-group-item">No components assigned</li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if documents %}
    <h2 class="mt-3">Documents</h2>
   <ul class="list-group rounded w-50">
        {% for document in documents %}
            <li class="list-group-item d-flex justify-content-between"><a href="{% url 'assets:open-document' pk=document.id %}"> {% if document.extension == 'docx' %}<span class="word">{% bs_icon 'filetype-docx' size='1.5em' %}</span>
                {% elif document.extension == 'pdf' %}<span class="pdf">{% bs_icon 'filetype-pdf' size='1.5em' %}</span>
                {% elif document.extension == 'xlsx' %}<span class="excel">{% bs_icon 'file-earmark-spreadsheet' size='1.5em' %}</span>
                {% endif %}{{document.filename}}</a><a href="{% url 'overview:download' id=document.id%}">{% bs_icon 'download' size='1.5em' %}</a></li>
        {% endfor %}
    </ul>
{% endif %}
    </div>
</div>

{% endblock %}