{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="details-container">
    <div class="details-content">
        <a class="d-flex align-items-center gap-2 w-25" href="{{request.META.HTTP_REFERER}}">{% bs_icon 'arrow-left' size='1.2em' %} <span>Go back</span> </a>
        <div class="d-flex align-items-center justify-content-between"><h1>Asset</h1>
           <div class="d-flex gap-3">
            <a class="text-secondary" href="{% url 'assets:update' 'lcd' lcd.id%}">{% bs_icon 'pencil-square' size='1.5em' %}</a>
            <a class="text-danger" href="{% url 'assets:delete' 'asset' lcd.asset.id %}?next={{ request.path|urlencode }}">{% bs_icon 'trash3' size='1.5em' %}</a>
                
           </div>
        </div>
        <div class="details-asset"> 
            
                <div class="details-item">
                    <p>Asset ID</p>
                    <span>{{lcd.asset.sid}}</span>
                </div>
                <div class="details-item">
                    <p>Asset Name</p>
                   <span>{{lcd.asset.name}}</span> 
                </div>
                <div class="details-item">
                    <p>Customer</p>
                    <span>{{lcd.asset.customer}}</span>
                </div>
                {% comment %} <div class="details-item">
                    <p>Location</p>
                    <span>{{lcd.asset.location}}</span>
                </div>       {% endcomment %}
                <div class="details-item">
                    <p>Belongs to</p>
                    <span>{{lcd.asset.parent}}</span>
                </div>       
                <div class="details-item">
                    <p>Last Updated</p>
                    <span>{{lcd.asset.updated}}</span>
                </div> 
                <div class="details-item">
                    <p>Created On</p>
                    <span>{{lcd.asset.created}}</span>
                </div>           
        </div>
        <h2>Component</h2>
        <div class="component-details">
            <div class="details-item">
                <p>LCD ID</p>
                <span>{{lcd.sid}}</span>
            </div>
            <div class="details-item">
                <p>Manufacturer</p>
                <span>{{lcd.manufacturer}}</span>
            </div>
            <div class="details-item">
                <p>Model</p>
                <span>{{lcd.model}}</span>
            </div>
            <div class="details-item">
                <p>Serial</p>
                <span>{{lcd.serial}}</span>
            </div>
            <div class="details-item">
                <p>Resolution</p>
                <span>{{lcd.resolution}}</span>
            </div>
            <div class="details-item">
                <p>Refresh Rate</p>
                <span>{{lcd.refresh_rate}}</span>
            </div>
        </div>
        {% if documents %}
        <h2 class="mt-3">Documents</h2>
       <ul class="list-group rounded w-50">
            {% for document in documents %}
                <li class="list-group-item d-flex justify-content-between"><a href="{% url 'assets:open-document' pk=document.id %}"> {% if document.extension == 'docx' %}<span class="word">{% bs_icon 'filetype-docx' size='1.5em' %}</span>
                    {% elif document.extension == 'pdf' %}<span class="pdf">{% bs_icon 'filetype-pdf' size='1.5em' %}</span>
                    {% elif document.extension == 'xlsx' %}<span class="excel">{% bs_icon 'file-earmark-spreadsheet' size='1.5em' %}</span>
                    {% endif %}{{document.filename}}</a><a href="{% url 'overview:download' id=document.id%}">{% bs_icon 'download' size='1.5em' %}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>

{% endblock %}