{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="details-container">
    <div class="details-content">
        <a class="d-flex align-items-center gap-2 w-25" href="{{request.META.HTTP_REFERER}}">{% bs_icon 'arrow-left' size='1.2em' %} <span>Go back</span> </a>
        <div class="d-flex align-items-center justify-content-between"><h1>Asset</h1>
           <div class="d-flex gap-3">
            <a class="text-secondary" href="{% url 'assets:update' 'rfid' rfid.id %}">{% bs_icon 'pencil-square' size='1.7em' %}</a>
            <a class="text-danger" href="{% url 'assets:delete' 'asset' rfid.asset.id %}?next={{ request.path|urlencode }}">{% bs_icon 'trash3' size='1.7em' %}</a>
                
           </div>
        </div>
        <div class="details-asset"> 
            
                <div class="details-item">
                    <p>Asset ID</p>
                    <span>{{rfid.asset.sid}}</span>
                </div>
                <div class="details-item">
                    <p>Asset Name</p>
                   <span>{{rfid.asset.name}}</span> 
                </div>
                <div class="details-item">
                    <p>Customer</p>
                    <span>{{rfid.asset.customer}}</span>
                </div>
                {% comment %} <div class="details-item">
                    <p>Location</p>
                    <span>{{rfid.asset.location}}</span>
                </div>       {% endcomment %}
                <div class="details-item">
                    <p>Belongs to</p>
                    <span>{{rfid.asset.parent}}</span>
                </div>       
                <div class="details-item">
                    <p>Last Updated</p>
                    <span>{{rfid.asset.updated}}</span>
                </div> 
                <div class="details-item">
                    <p>Created On</p>
                    <span>{{rfid.asset.created}}</span>
                </div>           
        </div>
        <h2>Details</h2>
        <div class="component-details">
            <div class="details-item">
                <p>RFID ID</p>
                <span>{{rfid.sid}}</span>
            </div>
            <div class="details-item">
                <p>Manufacturer</p>
                <span>{{rfid.manufacturer}}</span>
            </div>
            <div class="details-item">
                <p>Model</p>
                <span>{{rfid.model}}</span>
            </div>
            <div class="details-item">
                <p>Serial</p>
                <span>{{rfid.serial}}</span>
            </div>
            <div class="details-item">
                <p>Voltage</p>
                <span>{{rfid.voltage}}</span>
            </div>
            <div class="details-item">
                <p>Frequency</p>
                <span>{{rfid.frequency}}</span>
            </div>
        </div>
        {% if documents %}
            <h2 class="mt-3">Documents</h2>
            <ul class="list-group rounded w-50">
                {% for document in documents %}
                    <li class="list-group-item d-flex justify-content-between"><a href="{% url 'assets:open-document' pk=document.id %}"> {% if document.extension == 'docx' %}<span class="word">{% bs_icon 'filetype-docx' size='1.5em' %}</span>
                        {% elif document.extension == 'pdf' %}<span class="pdf">{% bs_icon 'filetype-pdf' size='1.5em' %}</span>
                        {% elif document.extension == 'xlsx' %}<span class="excel">{% bs_icon 'file-earmark-spreadsheet' size='1.5em' %}</span>
                        {% endif %}{{document.filename}}</a><a href="{% url 'overview:download' id=document.id%}">{% bs_icon 'download' size='1.5em' %}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}