{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="details-container">
    <div class="details-content">
        <a class="d-flex align-items-center gap-2 w-25" href="{{request.META.HTTP_REFERER}}">{% bs_icon 'arrow-left' size='1.2em' %} <span>Go back</span> </a>
        <div class="d-flex align-items-center justify-content-between"><h1>Asset</h1>
           <div class="d-flex gap-3">
                <a class="text-secondary" href="{% url 'assets:update' 'router' router.id %}">{% bs_icon 'pencil-square' size='1.7em' %}</a>
                <a class="text-danger" href="{% url 'assets:delete' 'asset' router.asset.id %}?next={{ request.path|urlencode }}">{% bs_icon 'trash3' size='1.7em' %}</a>
                
           </div>
        </div>
        <div class="details-asset"> 
            
                <div class="details-item">
                    <p>Asset ID</p>
                    <span>{{router.asset.sid}}</span>
                </div>
                <div class="details-item">
                    <p>Asset Name</p>
                   <span>{{router.asset.name}}</span> 
                </div>
                <div class="details-item">
                    <p>Customer</p>
                    <span>{{router.asset.customer}}</span>
                </div>
                {% comment %} <div class="details-item">
                    <p>Location</p>
                    <span>{{router.asset.location}}</span>
                </div>       {% endcomment %}
                <div class="details-item">
                    <p>Belongs to</p>
                    <span>{{router.asset.parent}}</span>
                </div>       
                <div class="details-item">
                    <p>Last Updated</p>
                    <span>{{router.asset.updated}}</span>
                </div> 
                <div class="details-item">
                    <p>Created On</p>
                    <span>{{router.asset.created}}</span>
                </div>           
        </div>
        <h2>Component</h2>
        <div class="component-details">
            <div class="details-item">
                <p>Router ID</p>
                <span>{{router.sid}}</span>
            </div>
            <div class="details-item">
                <p>Manufacturer</p>
                <span>{{router.manufacturer}}</span>
            </div>
            <div class="details-item">
                <p>Model</p>
                <span>{{router.model}}</span>
            </div>
            <div class="details-item">
                <p>Serial</p>
                <span>{{router.serial}}</span>
            </div>
            <div class="details-item">
                <p>IP Address</p>
                <span>{{router.ip_address}}</span>
            </div>
            <div class="details-item">
                <p>Firmware</p>
                <span>{{router.firmware}}</span>
            </div>
            <div class="details-item">
                <p>Username</p>
                <span>{{router.username}}</span>
            </div>
            <div class="details-item">
                <p>Password</p>
                <span>{{router.password}}</span>
            </div>
            <div class="details-item">
                <p>Hostname</p>
                <span>{{router.hostname}}</span>
            </div>
            <div class="details-item">
                <p>Has Static IP</p>
                <span>{{router.ip_static}}</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}