{% extends 'main.html' %} {% load static %} {% block content %}

<div class="edit-form">
  <div class="edit-container">
    <div>
        <h2>Add New Customer</h2>
        <form class="d-flex flex-column justify-center" method="POST">
            {% csrf_token %}      
            <div class="edit-form-container">
              {% for item in form %}
              <div class="form-group">
                <span>{{item.label}}</span>
                {{item}}
              </div>
              {% endfor %}
            </div>
        <button class="btn btn-secondary w-25 m-auto" type="submit">Save</button>
        </form>
    </div>
  </div>
</div>

{% endblock %}