{% extends 'main.html' %} {% load static %} {% block content %}

<div class="asset-form">
  <div class="asset-form-container">
    <form method="POST" novalidate>
      {% csrf_token %}
      <h3 class="mb-3">New Asset</h3>
      <div class="form-container">
        <div class="form-group">
          <span>Name</span>
          <input class="form-control" type="text" name="name"/>
        </div>
        <div class="form-group">
          <span>Type</span>
          <select class="form-control" name="type" id="typeselect">
            <option value="null">-------</option>
            {% for type in types %}
              <option value="{{type.name}}">{{type}}</option>
            {% endfor %}
          </select>
        </div>
        {% comment %} <div class="form-group">
          <span>Location</span>
          <select class="form-field" name="location">
            {% for location in locations %}
            <option value="{{location.id}}">{{location.name}}</option>
            {% endfor %}
          </select>
        </div> {% endcomment %}
        <div class="form-group">
          <span>Customer</span>
          <select class="form-control" name="customer">
            {% for customer in customers %}
                <option value="{{customer.id}}">{{customer.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <span>Parent</span>
          <select class="form-control" id="parent" name="parent">
            <option value="null">-------</option>
            {% for parent in parents %}
                <option value="{{parent.id}}">{{parent.name}} ({{parent.type}})</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <hr />
      
        <div class="form-content" id="Switch-form">
            <h3 class="mb-3">Switch</h3>
            <div class="form-container">
              {% for switch in switchForm %}
              <div class="form-group">
                <span>{{switch.label}}</span>
                {{switch}}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="form-content" id="Power Supply-form">
            <h3 class="mb-3">Power Supply</h3>
            <div class="form-container">
              {% for psu in psuForm %}
              <div class="form-group">
                <span>{{psu.label}}</span>
                {{psu}}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="form-content" id="RFID-form">
            <h3 class="mb-3">RFID Details</h3>
            <div class="form-container">           
              {% for rfid in rfidForm %}
              <div class="form-group">
                <span>{{rfid.label}}</span>
                {{rfid}}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="form-content" id="IPC-form">
            <h3 class="mb-3">IPC Details</h3>
            <div class="form-container">            
              {% for ipc in ipcForm %}
              <div class="form-group">
                <span>{{ipc.label}}</span>
                {{ipc}}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="form-content" id="LCD-form">
            <h3 class="mb-3">LCD Details</h3>
            <div class="form-container">
              {% for lcd in lcdForm %}
              <div class="form-group">
                <span>{{lcd.label}}</span>
                {{lcd}}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="form-content" id="LCB-form">
            <h3 class="mb-3">LCB Details</h3>
            <div class="form-container">
              
              {% for lcb in lcbForm %}
              <div class="form-group">
                <span>{{lcb.label}}</span>
                {{lcb}}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="form-content" id="QR Scanner-form">
            <h3 class="mb-3">QR Scanner Details</h3>
            <div class="form-container">
              {% for qrscanner in qrscannerForm %}
              <div class="form-group">
                <span>{{qrscanner.label}}</span>
                {{qrscanner}}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="form-content" id="DVR-form">
            <h3 class="mb-3">DVR Details</h3>
            <div class="form-container">
              {% for dvr in dvrForm %}
              <div class="form-group">
                <span>{{dvr.label}}</span>
                {{dvr}}
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="form-content" id="Router-form">
            <h3 class="mb-3">Router</h3>
            <div class="form-container">
              {% for router in routerForm %}
              <div class="form-group">
                <span>{{router.label}}</span>
                {{router}}
              </div>
              {% endfor %}
            </div>
          </div>

        <div class="form-content" id="Camera-form">
            <h3 class="mb-3">Camera</h3>
            <div class="form-container">
              {% for camera in cameraForm %}
              <div class="form-group">
                <span>{{camera.label}}</span>
                {{camera}}
              </div>
              {% endfor %}
              </div>
              {% if cameraForm.errors %}
                  <div class="alert alert-danger">
                      {{ cameraForm.errors }}
                  </div>
              {% endif %}
            </div>

            
            <div class="form-content" id="DistriSPOT-form">
              <h3 class="mb-3">DistriSPOT</h3>
              <div class="form-container">
                {% for distrispot in distrispotForm %}
              <div class="form-group">
                <span>{{distrispot.label}}</span>
                {{distrispot}}
              </div>
              {% endfor %}
              </div>
              
            </div>
     
         <div>
       
      </div>
      <input class="btn btn-secondary" disabled value="Save" id="create-asset-button" type="submit"></input>
    </form>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#parent').select2();
});

</script>
{% endblock %}
