
{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load bootstrap_icons %}
<div class="dashboard">
    <div class="dashboard-container">
        <div class="block-container">
            <div onclick="location.href='{% url 'overview:distrispots'%}';" class="distrispot dashboard-block rounded">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'grid-1x2' size='2em' %}
                    </div>
                    <span class="asset-count">{{counts.distrispot}}</span>
                    <span class="asset-title">DistriSPOT's</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:ipcs'%}';" class="ipc dashboard-block rounded">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'cpu' size='2em' %}
                    </div>
                    <span class="asset-count">{{counts.ipc}}</span>
                    <span class="asset-title">IPC's</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:lcds'%}';" class="lcd rounded dashboard-block">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'display' size='2em' %}
                    </div>
                    <span class="asset-count">{{counts.lcd}}</span>
                    <span class="asset-title">LCD's</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:switches'%}';" class="switch rounded dashboard-block">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'diagram-3' size='2em' %}
                    </div>
                    <span class="asset-count">{{counts.switch}}</span>
                    <span class="asset-title">Switches</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:routers'%}';" class="router rounded dashboard-block">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'router' size='2em' %}
                    </div>
                    
                    <span class="asset-count">{{counts.router}}</span>
                    <span class="asset-title">Routers</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:psus'%}';" class="power-supply rounded dashboard-block">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'plug' size='2em' %}
                    </div>
                    <span class="asset-count">{{counts.power_supply}}</span>
                    <span class="asset-title">Power Supplies</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:rfids'%}';" class="rfid rounded dashboard-block">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'person-badge' size='2em' %}
                    </div>
                    <span class="asset-count">{{counts.rfid}}</span>
                    <span class="asset-title">RFID's</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:dvrs'%}';" class="dvr rounded dashboard-block">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'hdd' size='2em' %}
                    </div>
                    <span class="asset-count">{{counts.dvr}}</span>
                    <span class="asset-title">DVR's</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:cameras'%}';" class="camera rounded dashboard-block">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'camera-video' size='2em' %}
                    </div>

                    <span class="asset-count">{{counts.camera}}</span>
                    <span class="asset-title">Cameras</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:qrscanners'%}';" class="qr-scanner rounded dashboard-block">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'qr-code-scan' size='2em' %}
                    </div>
                    <span class="asset-count">{{counts.qr_scanner}}</span>
                    <span class="asset-title">QR Scanners</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:lcbs'%}';" class="lcb rounded dashboard-block">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'grip-horizontal' size='2em' %}
                    </div>
                    <span class="asset-count">{{counts.lcb}}</span>
                    <span class="asset-title">LCB's</span>
                </div>
            </div>
            <div onclick="location.href='{% url 'overview:customers'%}';" class="customer rounded dashboard-block">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'person' size='2em' %}
                    </div>
                    <span class="asset-count">{{customer_count}}</span>
                    <span class="asset-title">Customers</span>
                </div>
            </div>
            {% comment %} <div class="location rounded">
                <div class="content position-relative m-2">
                    <div class="ms-auto position-absolute top-0 end-0">
                        {% bs_icon 'geo-alt' size='2em' %}
                    </div>
                    <span class="asset-count">{{location_count}}</span>
                    <span class="asset-title">Locations</span>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>

{% endblock content %}

