{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="table-container">
    <div class="table-content">
        <h2>LCB Assets</h2>
        <table>
            <thead>
              <tr>
                <th>CODE</th>
                <th>Name</th>
                <th>Connector</th>
                <th>Voltage</th>
                <th>Belongs To</th>
                <th>Created</th>
                <th></th>
              </tr>
            <thead>
            <tbody>
                {% for lcb in lcbs %}
                <tr>
                    <td><a href="">{{lcb.id}}</a></td>
                    <td><a href="">{{lcb.asset.name}}</a></td>
                    <td>{{lcb.connector}}</td>
                    <td>{{lcb.voltage}}</td>
                    <td>{{lcb.asset.parent}}</td>
                    <td>{{lcb.asset.created|date}}</td>
                    <td>
                        <a href="">Edit</a>
                        <a href="">Delete</a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          <table/>
    </div>
</div>


{% endblock %}