{% extends 'main.html' %} {% load static %} {% block content %}

<div class="edit-form">
  <div class="edit-container">
    <div>
        <h2>Add New Document</h2>
        <form class="d-flex flex-column justify-center w-50 gap-3 border rounded p-3"  enctype="multipart/form-data" method="POST">
            {% csrf_token %}      
            {% for item in form %}
        <div class="form-group">
          <span>{{item.label}}</span>
          {{item}}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-secondary w-25 m-auto">Upload</button>
        </form>
        {% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#id_parent').select2();
});

</script>
{% endblock %}