{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/main.css'%}" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/unicons.css"
    />
    <title>Main</title>
  </head>
  <body>
    <div class="main-container">
      {% include 'navbar.html' %}
      <div>
        {% include 'top_navbar.html' %} 
        {% block content %} 
        {% endblock content %}
      </div>
    </div>
    <script defer src="{% static 'js/script.js'%}"></script>
  </body>
</html>
