{% load static %}
{% load bootstrap_icons %}
<navbar>
    <div class="d-flex justify-content-center align-items-center m-4 pb-3  border-bottom">
        <img class="" src="{% static 'images/Telloport-logo.png'%}" alt="Telloport logo">
        <span class="h1 text-light">Telloport</span>
    </div>
    
    <ul class="nav flex-column">
        <li class="nav-title"><span>Assets</span></li>
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'assets:dashboard'%}">{% bs_icon 'clipboard-data' size='1.2em' %}Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:distrispots' %}">{% bs_icon 'grid-1x2' size="1.2em" %}DistriSPOT's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:lcds' %}">{% bs_icon 'display' size='1.2em' %}LCD's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:ipcs' %}"> {% bs_icon 'cpu' size='1.2em' %}IPC's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:lcbs' %}"> {% bs_icon 'grip-horizontal' size='1.2em' %}LCB's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:psus' %}">{% bs_icon 'plug' size='1.2em' %}Power Supplies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:routers' %}">{% bs_icon 'router' size='1.2em' %}Routers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:dvrs' %}">{% bs_icon 'hdd' size='1.2em' %}DVR's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:cameras' %}">{% bs_icon 'camera-video' size='1.2em' %}Cameras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:switches' %}">{% bs_icon 'diagram-3' size='1.2em' %}Switches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:rfids' %}"> {% bs_icon 'person-badge' size='1.2em' %}RFID's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:qrscanners' %}">{% bs_icon 'qr-code-scan' size='1.2em' %}QR Scanners</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:assets' %}">{% bs_icon 'list-ul' size='1.2em' %}Overview</a>
            </li>
        </ul>
        <li class="nav-title"><span>Misc</span></li>
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:customers'%}">{% bs_icon 'person' size='1.2em' %}Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{% bs_icon 'wrench' size='1.2em' %} Maintenances</a>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="{% url 'overview:locations'%}">{% bs_icon 'geo-alt' size='1.2em' %}Locations</a>
            </li> {% endcomment %}
        </ul>
    </ul>
</navbar>