/* #2d2d39 */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main-container{
    display: grid;
    grid-template-columns: max(250px) 1fr;
    height: 100vh;
}

.dashboard{
    padding: 1.5rem;
    background-color: #fbfbfb;
}

.dashboard-container{
    background-color: #fff;
    padding: 1rem;
    box-shadow:  0 0 3px #ccc;
    border-radius: 4px;
}

.top_bar{
    box-shadow: 0 4px 2px -2px #ccc;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}
.icon{
    width: 25px;
    height: 25px;
}

.add-button{
    background-color: #47b7bd;
  border: none;
  color: white;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;

  
}
.button-content{
    display: flex;
  align-items: center;
  gap: 8px;
}
.block-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.distrispot {
    background-color: #696d97;
    border-radius: 6px;
}

.ipc{
    background-color: red;
}

.content{
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    padding-left: 8px;
}
.asset-count{
    font-size: 60px;
    font-weight: bold;
}

.asset-title{
    font-size: 26px; 
}

navbar{
    background-color: #12354b;
}

a{
    color: #71c6dd;
    text-decoration: none;
}

ul{
    list-style: none;
}

.asset-form{
    padding: 1.5rem;
    background-color: #fbfbfb;
    height: 93vh;
    position: relative;
}

.asset-form-container{
    background-color: #fff;
    padding: 2rem;
    box-shadow:  0 0 3px #ccc;
    border-radius: 4px;
    position: relative;
    max-height: 87vh;
    overflow: auto;
}

form h3{
    margin-bottom: 12px;
}

.form-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

.form-group{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
gap: 15px;

}

.form-field{
    box-sizing: border-box;
    width: 65%;
    padding: 8px;
    border: 1px rgb(198, 195, 195) solid;
}

.asset-details{
    margin-top: 1rem;
}

.table-container{
    padding: 1.5rem;
    background-color: #fbfbfb;
    
}

.table-content{
    background-color: #fff;
    padding: 2rem;
    box-shadow:  0 0 3px #ccc;
    border-radius: 4px;
    position: relative;
    max-height: 87vh;
    overflow: auto;
    min-height: 87vh;
}

table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: #47b7bd;
    color: white;
}
table th{
    text-align: start;
    margin-bottom: 5px;
}
tr{
    padding: 20px;
}
table th:not(:last-child){
    border-right: solid black 1px; 
}
table th,td:not(:first-child) { padding-left: 12px; }

navbar span::after {
    float: right;
    right: 10%;
    content: "+";
    
  }
  
  .asset-options, .misc-options {
    height: 0px;
    transition: height 0.3s ease;
    overflow: hidden;
    padding-left: 3rem;
    background-color: #1a4c6b;
    border-left: 2px solid black;
  }

  #asset-toggle, #misc-toggle {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}    

.nav-title{
  padding: 0 1.5rem;
  color: white;
}

.edit-form{
    padding: 1.5rem;
    background-color: #fbfbfb;
    height: 93vh;
    position: relative;
}


.edit-container{
    background-color: #fff;
    padding: 2rem;
    box-shadow:  0 0 3px #ccc;
    border-radius: 4px;
    position: relative;
    max-height: 87vh;
    overflow: auto;
    min-height: 87vh;
}

.edit-form-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

