/* #2d2d39 */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main-container{
    display: grid;
    grid-template-columns: max(250px) 1fr;
    height: 100vh;
}

.dashboard{
    padding: 1.5rem;
    background-color: #fbfbfb;
}

.dashboard-container{
    background-color: #fff;
    padding: 1rem;
    box-shadow:  0 0 3px #ccc;
    border-radius: 4px;
}

.top_bar{
    box-shadow: 0 4px 2px -2px #ccc;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
}
.icon{
    width: 25px;
    height: 25px;
}

.add-button{
    background-color: #47b7bd;
  border: none;
  color: white;
  padding: 2px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;

  
}
.button-content{
    display: flex;
  align-items: center;
  gap: 8px;
}
.block-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}

.distrispot {
    background-color: #F3D0D0;
    color: #C53232;
}

.ipc{
    background-color: #D1F1A8;
    color: #70B11C;
}

.lcd{
    background-color: #C8DAE4;
    color: #4A7B96;
}
.rfid{
    background-color: #9BC06B;
    color: #32431C;
}

.dvr{
    background-color: #5DA8D6;
    color: #153B52;
}

.location{
    background-color: #3d7aa0;
    color: #1f4055;
}

.power-supply{
    background-color: #DC6F6F;
    color: #671919;
}

.switch{
    background-color: #F7D79A;
    color: #B77D0E;
}

.router{
    background-color: #D7E8E4;
    color: #599A8B;
}
.lcb{
    background-color: #944b4b;
    color: #5a2222;
}
.camera{
    background-color: #FFB62F;
    color: #865b0b;
}
.customer{
    background-color: #799b4c;
    color: #32431C;
}
.qr-scanner{
    background-color: #A0CEC2;
    color: #376B5D;
}
.content{
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    padding-left: 8px;
}
.asset-count{
    font-size: 60px;
    font-weight: bold;
}

.asset-title{
    font-size: 26px; 
}

navbar{
    background-color: #12354b;
}

a{
    color: #71c6dd;
    text-decoration: none;
}

ul{
    list-style: none;
}

.asset-form{
    padding: 1.5rem;
    background-color: #fbfbfb;
    height: 93vh;
    position: relative;
}

.asset-form-container{
    background-color: #fff;
    padding: 2rem;
    box-shadow:  0 0 3px #ccc;
    border-radius: 4px;
    position: relative;
    max-height: 87vh;
    overflow: auto;
}

form h3{
    margin-bottom: 12px;
}

.form-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

.form-group{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;
gap: 15px;

}

.form-field{
    box-sizing: border-box;
    width: 65%;
    padding: 8px;
    border: 1px rgb(198, 195, 195) solid;
}

.asset-details{
    margin-top: 1rem;
}

.table-container, .details-container{
    padding: 1.5rem;
    background-color: #fbfbfb;
    
}

.table-content, .details-content{
    background-color: #fff;
    padding: 2rem;
    box-shadow:  0 0 3px #ccc;
    border-radius: 4px;
    position: relative;
    max-height: 87vh;
    overflow: auto;
    min-height: 87vh;
}

table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: #47b7bd;
    color: white;
}
table th{
    text-align: start;
    margin-bottom: 5px;
}
tr{
    padding: 20px;
}
table th:not(:last-child){
    border-right: solid black 1px; 
}
table th,td:not(:first-child) { padding-left: 12px; }

navbar span::after {
    float: right;
    right: 10%;
    content: "+";
    
  }
  
  .asset-options, .misc-options{
    height: 0px;
    transition: height 0.3s ease;
    overflow: hidden;
    padding-left: 3rem;
    background-color: #1a4c6b;
    border-left: 2px solid black;
  }
  .button-menu {
    display: none;
    transition: height 0.3s ease;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
  }

  #asset-toggle, #misc-toggle {
    position: absolute; 
    opacity: 0; 
    height: 0px;
}    

.nav-title{
  padding: 0 1.5rem;
  color: white;
}

.edit-form{
    padding: 1.5rem;
    background-color: #fbfbfb;
    height: 93vh;
    position: relative;
}


.edit-container{
    background-color: #fff;
    padding: 2rem;
    box-shadow:  0 0 3px #ccc;
    border-radius: 4px;
    position: relative;
    max-height: 87vh;
    overflow: auto;
    min-height: 87vh;
}

.edit-form-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

.details-asset, .component-details{
    padding: 15px;
    border: solid 1px rgb(168, 168, 168,0.4);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 5px;
    width: 70%;
    margin-top: 8px;
}
.details-asset{
    margin-bottom: 1.2rem;
}

.details-item{
    display: flex;
    justify-content: space-between;
}

.details-item span{
    font-weight: bold;
    
}